/nbproject/private/
/myCompanyOnlineShopping-war/nbproject/private/
/myCompanyOnlineShopping-ejb/nbproject/private/
/myCompanyOnlineShopping-ejb/build/
/myCompanyOnlineShopping-ejb/dist/
/dist/
/build/
/myCompanyOnlineShopping-war/build/
/myCompanyOnlineShopping-war/dist/
/myCompanyOnlineShopping-ejb/build.xml
/myCompanyOnlineShopping-ejb/build.xml
/myCompanyOnlineShopping-ejb/nbproject/build-impl.xml
/myCompanyOnlineShopping-ejb/nbproject/genfiles.properties
/myCompanyOnlineShopping-ejb/nbproject/project.properties
/myCompanyOnlineShopping-ejb/nbproject/project.xml
/myCompanyOnlineShopping-war/build.xml
/myCompanyOnlineShopping-war/nbproject/build-impl.xml
/myCompanyOnlineShopping-war/nbproject/genfiles.properties
/myCompanyOnlineShopping-war/nbproject/project.properties
/myCompanyOnlineShopping-war/nbproject/project.xml
